* {
  margin: 0;
}

body {
  background-color: #222;
  font-family: "Play", sans-serif;
}

#container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#game {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-top: 50px;
}

h1 {
  color: white;
  font-size: 3em;
}

#instruction {
  color: white;
  animation: 3s infinite alternate slidein;
}

#red {
  background-color: #fe433e;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 16px;
}

.red-lit {
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #fe433e, 0 0 30px #fe433e,
    0 0 40px #fe433e, 0 0 50px #fe433e;
}

#green {
  background-color: #3bca49;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 16px;
}

.green-lit {
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #3bca49, 0 0 30px #3bca49,
    0 0 40px #3bca49, 0 0 50px #3bca49;
}

#blue {
  background-color: #1477d7;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 16px;
}

.blue-lit {
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #1477d7, 0 0 30px #1477d7,
    0 0 40px #1477d7, 0 0 50px #1477d7;
}

#yellow {
  background-color: #feda30;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 16px;
}

.yellow-lit {
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #feda30, 0 0 30px #feda30,
    0 0 40px #feda30, 0 0 50px #feda30;
}

.btn {
  transition: transform 0.2s, box-shadow 0.05s;
  border: 2px solid #111;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.pressed {
  background-color: #444 !important;
  box-shadow: 0 0 20px white;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  #game {
    width: 600px;
    height: 600px;
  }

  h1 {
    font-size: 5em;
  }
}

@keyframes slidein {
  from {
    transform: rotateY(1);
  }
  to {
    transform: scale(1.5);
  }
}
